
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Website-Logo
{
    width: 250px;
}

.Navbar
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.About_Us li
{
    border-bottom: 1px solid #ccc;
}